/*r navigation link section */

#navigation-link {
    background-color: #0282F9;
}

#navigation-link {
    text-transform: uppercase;
}

#navigation-link nav {
    padding: 50px 0;
}

#navigation-link ul {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 50px;
}

#navigation-link a {
    color: white;
    font-size: 12px;
}

#navigation-link img {
    width: 50px;
    vertical-align: middle;
    margin-right: 10px;
}

#navigation-link #shop-location {
    width: 40px;
}

#navigation-link p {
    display: inline;
}

/*r information section */

#information {
    background-image: url("img/footer-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#information .container {
    display: flex;
    height: 360px;
    background-image: url("img/dc-logo-bg.png");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: right;
}

#information #link {
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    column-gap: 30px;
    padding-top: 30px;
}

#shop {
    margin-top: 10px;
}

#information h2 {
    color: white;
    text-transform: uppercase;
    margin-bottom: 10px;
}

#information li {
    font-size: 14px;
}

#information a {
    color: #858585;
    font-size: 12px;
}

/*r social section */

#social {
    background-color: #303030;
}

#social .container {
    display: flex;
    align-items: center;
    padding: 30px 0;
    justify-content: space-between;
}

#social button {
    border: 2px solid #0282F9;
    background-color: transparent;
    color: white;
    text-transform: uppercase;
    padding: 15px;
    font-weight: 700;
    font-size: 16px;
    cursor: pointer;
}

#social ul {
    display: flex;
    align-items: center;
    column-gap: 20px;
}

#social p {
    color: #0282F9;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 24px;
}