* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Open Sans", sans-serif;
}

li {
    list-style: none;
}

.container {
    margin: 0 auto;
    max-width: 1200px;
}

a {
    text-decoration: none;
    color: black;
}